.button{
    border-style: none;
    height: 50px;
    padding: 10px 20px;
    background-color: rgb(21, 21, 52);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow .1s ease;
}
.button.blue{
    background-color: rgb(11, 7, 249);
   
    

}
.button.green{
    background-color:rgb(43, 255, 0) ;
    border-radius: 8px;
}
.button.red{
    background-color: red;
    border-radius: 8px;
}
.button:hover{
   box-shadow: inset 200px 0 0 rgb(21, 21, 52) ;
}